*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: SansOri, SansOriFallback, sans-serif;
}   
.skin{
    font-family: SansOri, SansOriFallback, sans-serif;
    width: 100%;
    height: 450px;
    box-sizing: border-box;
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .child__skin{
        height: 430px;
        width: 1240px;

        display: grid;
        /* grid-template-areas: "left left right right right"; */
        grid-template-columns: 40% 60%;
        /* column-gap: 5px; */
        /* colum-gap:فاصله بیفتد */

        .left{
            padding-top: 1px;
            height: 430px;
            position: relative;
            /* grid-area: left ; */
            overflow: hidden;
            display: flex;
            border-radius: 5px;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            & img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .shop_now{
                    position: absolute;
                    line-height: 30px;
                    text-align: center ;
                    box-sizing: border-box;
                    bottom: 20px;
                    font-size: 14px;
                    height: 30px; 
                    width: 200px; 
                    border-radius: 20px;
                    background-color: #2b2b2b88;
                    & a{
                        height: inherit;
                        display: block;
                        text-align: center ;
                        font-size: 14px;
                        font-family: sans-serif;
                        text-transform: capitalize;
                        color: aliceblue;
                        text-decoration: none;
                        line-height: 30px;
                    }
            }
            /* background-image: url("../images/1.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center; */
        }
        .right{
            height: inherit ;
          
            display: grid;
            grid-template-columns: repeat(3,1fr) ;
            grid-template-rows: repeat(1,100%);
            column-gap: 2px;
            padding-top: 1px;
            /* grid-area: right ; */
            .product_1{
                display: grid;
                grid-template-columns: repeat(1,1fr) ;
                grid-template-rows: 60% 40%;
                /* row:ارتفاع */
               .top_1{
                    /* display: grid; */
                    width: 98% ;
                    margin: 0 auto;
                    overflow: hidden;
                    border-radius: 4px;
                    position: relative;
                    & img{
                        display: block;
                        /* اگر جلو عقب رفت درست شود */
                        justify-self: center;
                        transition: all 1s linear 0s;
                    }
                    &:hover img{
                        transform: scale(1.3);
                    }
                    .label{
                        width: 40px;
                        position: absolute;
                        height: 40px;
                        z-index: 2;
                        top: 15px;
                        left: 20px;                        
                       cursor: pointer;
                        display: flex;
                        background-color: aliceblue;
                        justify-content: center;
                        box-shadow: 1px 1px 2px grey,-1px -1px 2px grey;
                        align-items: center;
                    }  
                   
                }
                .bottom_1{
                    display: grid;
                    /* grid-template-columns: repeat(1,100%); */
                    grid-template-rows: repeat(4,auto);                
                   font-family: SansOri, SansOriFallback, sans-serif;
                   font-size: 16px; 
                   & div{margin-top:10px;}
                   .bottom_star{
                    
                    & svg{
                        fill: #80CDD0;
                    }
                   }
                   .bottom__1 {

                    color: #2d0039aa;
                    font-size: 16px;
                   }
                   .bottom_2{
                    color: #2b2b2bcc;
                    font-size: 16px;
                    font-weight: bold;
                  
                   }
                   .bottom__3{
                    color: #2b2b2bdd;
                   
                    font-size: 17px;
                    font-weight: bold;
                   }
                }


                }


                /* grid-template-columns: repeat(1,100%);
                grid-template-rows: 60% 40%; */
            }
        }
        
    }
